name: Deploy Docs

on:
  push:
    branches:
      - main

jobs:
  dokka:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Build Dokka HTML docs
        run: ./gradlew :android:valhalla:dokkaGenerateHtml
        working-directory: android

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./android/valhalla/build/docs/html
